/*setting colors*/
:root{
    --primary-text: #212121;
    --secondary-text:#757575;
    --text-icon: #FFFFFF;
    --light-primary: #D1C4E9;
    --mid-primary:#ac93db;
    --dark-primary: #8e66ea;
}
html{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    text-align: center;
}
table{
    margin: 0 auto;
    width: 60%;
}
/*adjust view for date*/
tr td:nth-child(3){
    width: 15%;
}
table thead th{
    background-color: var(--dark-primary);
}
tr{
    background-color: var(--light-primary);
}
tr:nth-child(2n){
    background-color: var(--mid-primary);
}
tr td{
    padding: 15px;
}
fieldset{
    border: none;
}
textarea{
    width: 50vh;
    height: 20vh;
}
label{
    width: 150px;
    display: inline-block;
}
h2{
    width:60%;
    margin: 0 auto;
    padding: 10px;
    font-weight: bold;
}
main form{
    border: 1px solid black;
    padding: 20px;
    width: 60%;
    margin:0 auto;
}
.button{
border: 1px solid black;
margin-left:14px;
transition: width 1s;
}
.button:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.error{
    color: red;
    font-weight: bold;
}
nav ul li{
    list-style-type:none;
}